<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hypolia API</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>
<body class="bg-gray-900 overflow-y-hidden">


        @!section('content')

</body>
</html>
